.wrap-header {
  height: 60px;
}
.pinning-header {
  z-index: 9999;
  position: fixed;
  background-color: rgb(20, 20, 20);
  top: 0;
  width: 100%;
  .main-header {
    height: 60px;
    padding: 0 47px 0 47px;
    display: flex;
    align-items: center;
    .logo {
      width: 100px;
      vertical-align: middle;
      margin-right: 25px;
    }
    ul {
      display: flex;
      align-items: center;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      li {
        list-style-type: none;
        margin-left: 18px;
        a {
          text-decoration: none;
          color: #e5e5e5;
          font-size: 12px;
        }
        a:hover {
          color: #b3b3b3;
          height: 100%;
          transition: color 0.4s;
        }
      }
    }
    .secondary-navigate {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      .btn-search {
        cursor: pointer;
        color: #fff;
        border: none;
        background: transparent;
      }
      .search-box {
        display: flex;
        align-items: center;
        .btn-search {
          visibility: visible;
          color: #fff;
          border: none;
          cursor: pointer;
          transition: ease transform 1s;
          transition-delay: 50ms;
          &.active {
            visibility: hidden;
          }
        }
        .search-input {
          visibility: hidden;
          transition: ease width 1s, ease opacity 1s;
          outline: none;
          input {
            visibility: hidden;
            transition: ease width 1s, ease opacity 1s;
            outline: none;
            background: rgba(0, 0, 0, 0.85);
            width: 0%;
            border: solid 1px rgba(255, 255, 255, 0.85);
            box-sizing: border-box;
            padding: 7px 14px 7px 40px;
            font-size: 13px;
            color: #fff;
            opacity: 0;
            float: right;
            &.active {
              visibility: visible;
              opacity: 1;
              width: 100%;
            }
          }
          &.active {
            visibility: visible;
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }
}
