.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;
  cursor: pointer;
  //   opacity: 0;
  .info-film {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    .title {
      color: #fff;
    }
    top: 0;
  }
  .btn-play-item {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 40%;
    left: 38%;
    svg {
      font-size: 70px;
      color: white;
      font-weight: bolder;
    }
  }
  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}
.item:hover {
  filter: brightness(0.7);
  .info-film {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
  }
  opacity: 1;
  .btn-play-item {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    transition-delay: 0.4s;
  }
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
