.wrap-banner {
  width: 100%;

  .swiper {
    max-width: 920px;
    height: auto;
    position: relative;
    border-radius: 32px;
    .swiper-slide {
      width: 100%;
      cursor: pointer;
    }
    .swiper-slide:hover {
      background: rgba(40, 0, 60, 0) 90%;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
    }
    .hover-play {
      width: 100%;
      height: 100%;
      visibility: hidden;
      position: absolute;
      z-index: 10;
      opacity: 0;
    }
    .hover-play:hover {
      top: 0;
      left: 0;
      position: absolute;
      visibility: visible;
      opacity: 1;
      background-color: black;
      transition: 0.2s ease;
    }
    .contain-rating-point {
      top: 0;
      right: 50px;
      margin-top: 20px;
    }
    .wrap-info-film {
      position: absolute;
      top: 0px;
      width: 60%;
      word-break: break-all;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(40, 40, 60, 1) 0%,
        rgba(40, 0, 60, 0) 90%
      );

      .info-film {
        margin-top: 20px;
        margin-left: 50px;
        .title {
          color: rgb(81, 121, 255);
          font-size: 3rem;
        }
      }
      .sub-title {
        color: #fff;
        font-size: 1.8rem;
      }
      .contain-genres {
        display: flex;
        .item-genre {
          border: 1px solid #fff;
          padding: 10px 5px 10px 5px;
          margin-right: 15px;
          border-radius: 50px;
        }
      }
    }
  }
  .swiper:hover {
    .img-banner {
      opacity: 0.5;
    }
    .btn {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s linear 300ms, opacity 300ms;
    }
  }
}
.img-banner {
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.swiper-button-next {
  color: #fff;
}

.swiper-button-prev {
  color: #fff;
}

.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  outline: none;
  background: #f64747;
  border: 0;
  position: absolute;
  top: 200px;
  left: 460px;
  z-index: 1;
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .play {
    width: 35px;
    height: 35px;
    background: #fff;
    margin-left: 15px;
    z-index: 100;
    clip-path: polygon(0 0, 80% 48%, 0 100%, 0% 100%);
    transition: clip-path 0.5s ease;
    transition-delay: 0.4s;
  }
}
