.contain-sidebar {
  height: 100vh;
  max-width: 260px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid #423f3f;

  .logo {
    width: 200px;
  }
  .menu {
    color: #fff;
    ul {
      li {
        list-style: none;
        color: #555353;
        cursor: pointer;
      }
      li:hover {
        transition-delay: 0.1s;
        color: #fff;
      }
    }
  }
}
