.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.mt-16 {
  margin-top: 16px;
}
.m-0 {
  margin: 0;
}
.m-8 {
  margin: $spacing * 2;
}
.mt-0 {
  margin-top: 0;
}
.mt-4 {
  margin-top: $spacing;
}
.mt-6 {
  margin-top: $spacing * 2;
}
.mt-7 {
  margin-top: $spacing * 3;
}
.mt-8 {
  margin-top: $spacing * 4;
}
.mt-10 {
  margin-top: $spacing * 6;
}

.mt-14 {
  margin-top: $spacing * 10;
}

.ms-4 {
  margin-left: $spacing;
}
.ms-6 {
  margin-left: $spacing * 2;
}
.ms-8 {
  margin-left: $spacing * 4;
}

.ms-10 {
  margin-left: $spacing * 6;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: $spacing;
}
.mb-6 {
  margin-bottom: $spacing * 2;
}

.mb-7 {
  margin-bottom: $spacing * 3;
}

.mb-8 {
  margin-bottom: $spacing * 4;
}

.mb-10 {
  margin-bottom: $spacing * 6;
}

.mb-12 {
  margin-bottom: $spacing * 8;
}

.mb-14 {
  margin-bottom: $spacing * 10;
}

.me-4 {
  margin-right: $spacing;
}
.me-6 {
  margin-right: $spacing * 2;
}
.me-7 {
  margin-right: $spacing * 3;
}
.me-8 {
  margin-right: $spacing * 4;
}
.me-10 {
  margin-right: $spacing * 6;
}
.p-4 {
  padding: $spacing;
}
.p-6 {
  padding: $spacing * 2;
}
.p-8 {
  padding: $spacing * 4;
}
.p-10 {
  padding: $spacing * 6;
}
.p-12 {
  padding: $spacing * 8;
}
.px-4 {
  padding-left: $spacing;
  padding-right: $spacing;
}
.px-6 {
  padding-left: $spacing * 2;
  padding-right: $spacing * 2;
}
.px-8 {
  padding-left: $spacing * 4;
  padding-right: $spacing * 4;
}
.px-10 {
  padding-left: $spacing * 6;
  padding-right: $spacing * 6;
}
.py-4 {
  padding-top: $spacing;
  padding-bottom: $spacing;
}
.py-6 {
  padding-top: $spacing * 2;
  padding-bottom: $spacing * 2;
}
.py-8 {
  padding-top: $spacing * 4;
  padding-bottom: $spacing * 4;
}
.py-10 {
  padding-top: $spacing * 6;
  padding-bottom: $spacing * 6;
}

.pt-0 {
  padding-top: 0;
}
.pt-4 {
  padding-top: $spacing;
}
.pt-6 {
  padding-top: $spacing * 2;
}
.pt-7 {
  padding-top: $spacing * 3;
}
.pt-8 {
  padding-top: $spacing * 4;
}
.pt-10 {
  padding-top: $spacing * 6;
}

.ps-0 {
  padding-left: 0;
}
.ps-4 {
  padding-left: $spacing;
}
.ps-6 {
  padding-left: $spacing * 2;
}
.ps-8 {
  padding-left: $spacing * 4;
}
.ps-10 {
  padding-left: $spacing * 6;
}

.pe-0 {
  padding-right: 0;
}
.pe-4 {
  padding-right: $spacing;
}
.pe-6 {
  padding-right: $spacing * 2;
}
.pe-8 {
  padding-right: $spacing * 4;
}
.pe-10 {
  padding-right: $spacing * 6;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-4 {
  padding-bottom: $spacing;
}
.pb-6 {
  padding-bottom: $spacing * 2;
}
.pb-7 {
  padding-bottom: $spacing * 3;
}
.pb-8 {
  padding-bottom: $spacing * 4;
}
.pb-10 {
  padding-bottom: $spacing * 6;
}
.pb-12 {
  padding-bottom: $spacing * 10;
}
.width-100 {
  width: 100%;
}

.w100 {
  width: 100% !important;
}

.width-368 {
  width: 368px;
  margin: 0 auto;
}
