:root {
  --primary: #ff9800;
  --body-color: #2c1f50;
}

$spacing: 4px;
$font-size-base: 14px;

/*
    Spacing
  
    You can add more entries to the $spacers map.
  */
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);

// Grid system

// Add more entries to specific new custom grid items' min-width.
$min-grids: (
  "200": 200px,
  "250": 250px,
  "300": 300px,
  "350": 350px,
); ;
